{% extends 'base.html' %}

{% block title %}Glavnaya{% endblock %}


{% block body %}
<h1>Glavnaya stranica</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Laudantium non provident quisquam rem.</li>
<li>At doloribus nisi omnis rerum.</li>
<li>A atque consequuntur cupiditate tempora!</li>
<li>Ducimus fugit quis recusandae ut!</li>
<li>Asperiores dolorum nobis vel voluptates.</li>
<li>A harum in laudantium quos?</li>
<li>Accusamus aliquam nesciunt pariatur quae!</li>
<li>Dolore doloremque eum rem ullam.</li>
<li>A animi eveniet minima recusandae!</li>
<li>Alias amet asperiores consequatur iure.</li>
<li>Deserunt eaque eveniet expedita quaerat.</li>
<li>Cumque eos fugit quos unde.</li>
<li>Ad adipisci beatae eaque molestiae.</li>
<li>Atque consequuntur id iste magnam.</li>
<li>Error modi necessitatibus repellendus suscipit.</li>
<li>Esse libero numquam quia ullam!</li>
<li>Beatae eveniet illum quia sint?</li>
<li>Delectus eaque nulla odio veniam.</li>
<li>Consequuntur deleniti eos ex reprehenderit.</li>
<li>Ipsum optio qui quisquam sed.</li>
<li>Assumenda pariatur quaerat quam voluptatum.</li>
<li>Earum eius rem repudiandae veritatis?</li>
<li>Architecto dignissimos dolorem quo voluptate?</li>
<li>Cum dolores excepturi explicabo odio.</li>
<li>Dolor ducimus ex maxime minus.</li>
<li>A nisi perferendis sint vel.</li>
<li>Mollitia necessitatibus nulla similique veritatis.</li>
<li>Doloremque labore nisi officiis possimus.</li>
<li>Laudantium libero necessitatibus porro tenetur!</li>
<li>Dolores fugiat molestiae sapiente tenetur?</li>
<li>Accusamus eaque reiciendis tempora ullam!</li>
<li>Magnam porro possimus quasi voluptatum.</li>
<li>Aliquid asperiores cupiditate hic quod.</li>
<li>Dolores in nihil obcaecati quis.</li>
<li>Assumenda facere ipsum laborum similique.</li>
<li>Cum cumque dolore quod soluta?</li>
<li>Est ipsam nihil pariatur repudiandae?</li>
<li>Culpa itaque molestiae qui voluptatibus.</li>
<li>Atque quam ratione similique unde.</li>
<li>Aliquid dignissimos nisi provident saepe!</li>
<li>Beatae inventore iure omnis rerum.</li>
<li>Laborum nesciunt tempora vitae voluptatum?</li>
<li>Aut deserunt laborum natus voluptatem?</li>
<li>Delectus in quibusdam ratione sunt.</li>
<li>Aperiam deserunt dolorum et temporibus.</li>
<li>Eius laudantium necessitatibus nesciunt repellat.</li>
<li>Beatae dolorum eos eum itaque.</li>
<li>Eius minus saepe vero! Velit.</li>
<li>Dolorem eos mollitia nobis totam!</li>
<li>Dolore magni maxime vel voluptas.</li>
<li>Error magnam molestiae provident sed.</li>
<li>Deserunt neque odio sint voluptatibus?</li>
<li>Aperiam numquam quam soluta vel?</li>
<li>Officia quas recusandae reprehenderit veritatis.</li>
<li>Consequuntur obcaecati quisquam sequi temporibus!</li>
<li>Cum enim libero rem totam.</li>
<li>Autem non omnis qui repudiandae.</li>
<li>Delectus eveniet necessitatibus perspiciatis ut?</li>
<li>Dolore magni repudiandae similique temporibus!</li>
<li>Ea excepturi illo praesentium quasi?</li>
<li>Obcaecati optio quaerat rerum sequi.</li>
<li>Cupiditate dolore ea molestiae recusandae!</li>
<li>Aliquam fugiat maiores nulla quibusdam?</li>
<li>Animi aut porro quo ullam?</li>
<li>Esse expedita laborum molestiae perferendis.</li>
<li>Dolore exercitationem id necessitatibus nihil.</li>
<li>Commodi eaque expedita fugiat quibusdam?</li>
<li>Eius eos minima recusandae saepe.</li>
<li>Modi non omnis saepe ut.</li>
{% endblock %}
